/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}


.forms input {
    background-color: teal;
    color: white;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    height: 100px;
    border-color: teal;
    border-radius: 100px;
    font-size: 15px;
    font-family: "Arial Black", sans-serif;
    text-transform: uppercase;
}
.forms input:hover {
    background-color: red;
}



